*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;

    box-sizing: border-box;


    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

#root {
    font-size: 62.5%;

    box-sizing: border-box;

    margin: 0;
    padding: 0;

}


.container {
    display: grid;


    grid-template-columns:  [center-start] repeat(12, [col-start] minmax(min-content, 1fr) [col-end]) [center-end];


}

