body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: white;
    padding: 3rem;
}



.heading-primary {
    color: $color-white;


    &-main {
        display: block;
        font-size: 4rem;
        font-weight: 600;

    }
    
    &-sub {
        display: block;
        font-size: 4rem;
        font-weight: 550;
    }
}


.heading--secondary {
    font-size: 3.5rem;

    // color: $color-grey-dark;


    font-weight: 400;

    display: inline-block;

    letter-spacing: .1rem;
    transition: all, .2s;


}

.heading--tertiary {

    font-size: 2.6rem;
    font-weight: 700;
    color: rgba(#fff, .4);

}

.heading--quarternary {
    font-size: 1.8rem;
    font-weight: 600;

    color: $color-grey-dark;

}

.paragraph {
   
    font-size: 1.6rem;
    color: gray;

}
























// .heading-secondary {
//     font-size: 3.5rem;
//     text-transform: uppercase;
//     font-weight: 700;
//     display: inline-block;
//     background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
//     -webkit-background-clip: text;
//     color: transparent;
//     letter-spacing: .2rem;
//     transition: all .2s;

//     &:hover {
//         transform: skewY(2deg) skewX(15deg) scale(1.1);
//         text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
//     }
// }

// .heading-tertiary {
//     font-size: $default-font-size;
//     font-weight: 700;
//     text-transform: uppercase;
// }

// .paragraph {
//     font-size: $default-font-size;

//     &:not(:last-child) {
//         margin-bottom: 3rem;
//     }
// }