

.u-center-text {
    text-align: center;
}

.u-animation-text-none:hover {
    transition: none;
    animation: none;
    transform: none;

    text-shadow: .5rem .3rem 2rem rgba($color-black, .1);
    
}

.u-margin-bottom-big {
    margin-bottom: 8rem;

}

.u-margin-left-small {
    margin-left: 2rem;
}

.u-margin-left-very-small {
    margin-left: 1rem;
}

.u-margin-left-medium {
    margin-left: 5rem;
}

.u-margin-right-small {
    margin-right: 2rem;
}

.u-margin-right-very-small {
    margin-right: 1rem;
}

.u-margin-right-medium {
    margin-right: 5rem;
}


.u-margin-bottom-small {
    margin-bottom: 2.5rem;
}

.u-margin-bottom-very-small {
    margin-bottom: 1rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;
}

.u-margin-top-big {margin-top: 8rem;}

.u-margin-top-huge {
    margin-top: 10rem;
}


.u-h3-text-color-grey {
    color: gray;
}

////// UTILITY CLASS FOR MAKE TEXT SMALL //////

.u-text-size-small {
    font-size: 1.4rem;
}

.u-text-size-very-small {
    font-size: 1.2rem;
}


/// AUTO MARGIN ////

.u-margin-right-auto {
    margin-right: auto;
}


.u-padding-top-small {
    padding-top: 2rem;
}


.u-component-width-big {
    width: 95%;
}
































// .u-center-text { text-align: center !important; }

// .u-margin-bottom-small { margin-bottom: 1.5rem !important; }
// .u-margin-bottom-medium { margin-bottom: 4rem !important; }
// .u-margin-bottom-big { margin-bottom: 8rem !important; }

// .u-margin-top-big { margin-top: 8rem !important; }
// .u-margin-top-huge { margin-top: 10rem !important; }