



.discoverItem--container {
    grid-column: 1 / 13;
    // background-color: aquamarine;

    // height: 60vh;

    display: grid;
    grid-template-columns:  [center-start] repeat(12, [col-start] minmax(min-content, 1fr) [col-end]) [center-end];

    &--box--1 {
        grid-column: 1 /13;
        // background-color: rgb(22, 111, 200);
        // height: 45vh;

        & h3 {
            font-size: 4rem;
            color: aliceblue;

        }
    }

    &--box--2 {
        grid-column: 1 /13;
        // background-color: rgb(174, 27, 88);
        // height: 55vh;

    }

    &--box--3 {
        grid-column: 1 /13;
        // background-color: rgb(174, 27, 88);
        // height: 55vh;

    }
}
