


.get--started--container {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 3rem 3rem;

    border-radius: 1.3rem;

    background-color: #0d6efd;

    &--box--1 {
        & h3 {

            color: rgb(#fff, .9);
            font-size: 3.8rem;



        }
    }

    &--box--2 {

        width: 12%;

        & .button--component {
            color: rgb(0, 0, 0);
            background-color: gold;

            text-decoration: none;


            // & a {
            //     color: rgb(0, 0, 0);
            // }

        }


    }

}