


.livebid--header--container {

    grid-column: 1 / 13;

    // background-color: brown;

    border-bottom: solid 1px rgb(175, 175, 175);

    display: flex;

    align-items: center;

    width: 100%;

}