.bid--ends--component {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #0d6efd;

    border: solid 1px rgb(175, 175, 175);
    border-radius: 1rem;


    width: 120%;

    // & div > span {

    //     color: aliceblue;
    //     font-size: 1.3rem;


    // }
}

.bid--ends--component > div {

    margin-right: 1.2rem;

}

.days {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    // align-content: center;
    color: aliceblue;
    font-size: 1.3rem;
}