


.button--small--component {

    font-size: 1.4rem;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    // border: solid 1px rgb(212, 212, 212);

    border: #0d6efd;
    border-radius: 2rem;

    padding: .5rem 1rem;

    background-color: #0d6efd;
    

    color: white;

}