.feature-box--component {

    display: flex;
    flex-direction: column;
    flex: 0 0 auto ;
    // align-items: center;
    align-items: center;
    justify-content: center;

    background-color: rgba(#341f97, .5);

    width: 23%;
    padding: 2rem;

    @media only screen and (max-width: 1244px) {

        width: 45%;

        padding: 2.8rem;
        
    }

    @media only screen and (max-width: 730px) {

        width: 48%;

        padding: 2.8rem;
        
    }

    @media only screen and (max-width: 705px) {
        
        width: 70%;
        
    }

    @media only screen and (max-width: 680px) {

        width: 92%;
        
    }

    @media only screen and (max-width: 450px) {

        width: 100%;
        
    }


    border: solid 1px #404040;
    border-radius: 2rem;

    &--box--1 div{

        // border: solid 1px rgb(212, 212, 212);
        // border-radius: 2rem;

        align-self: center;
        width: 230.5px;
        height: 125px;

        & img {
            
            align-self: center;
            width: 230.5px;
            height: 125px;
        }

    }

    &--box--2 {
        display: flex;
        align-items: center;
        justify-content: center;

        & div {
            & h3 {
                text-align: center;
                font-size: 2.2rem;

                color: #c2d4f8;
            }
        }
    }

    &--box--3 {
        display: flex;
        align-items: center;
        justify-content: center;

        & div {
            & p {
                text-align: center;
                font-size: 1.5rem;
            }
        }

        // text-align: center;
    }

}