.section--liveBid--header {

    grid-column: 1 / 13;

    padding: .2rem 5rem;

    // background-color: #5815dd;
    background-color: #030205;

    display: grid;
    grid-template-columns:  [center-start] repeat(12, [col-start] minmax(min-content, 1fr) [col-end]) [center-end];

}


.section--liveBid {
    grid-column: 1 / 13;

    padding: 5rem 6rem;

    background-color: #030205;
    display: grid;
    grid-template-columns:  [center-start] repeat(12, [col-start] minmax(min-content, 1fr) [col-end]) [center-end];

    @media only screen and (max-width: 1050px) {

        padding: 3rem 6rem;

        
    }

    @media only screen and (max-width: 981px) {

        padding: 2rem 3rem;

        
    }

    @media only screen and (max-width: 720px) {

        padding: 2rem 1.5rem;

        
    }
}

.section--features {
    grid-column: 1 / 13;

    padding: 3rem 6rem;

    background-color: #030205;


    // background-color: rgb(78, 38, 224);
    display: grid;
    grid-template-columns:  [center-start] repeat(12, [col-start] minmax(min-content, 1fr) [col-end]) [center-end];
}

.section--popularItem {
    grid-column: 1 / 13;

    padding: 5rem 6rem;

    background-color: #030205;
    // background-color: rgb(224, 38, 146);
    display: grid;
    grid-template-columns:  [center-start] repeat(12, [col-start] minmax(min-content, 1fr) [col-end]) [center-end];


    @media only screen and (max-width: 1120px) {

        padding: 5rem 3rem;

        
    }

    @media only screen and (max-width: 904px) {

        padding: 5rem 1.5rem;

        
    }

    @media only screen and (max-width: 830px) {

        padding: 5rem .3rem;

    }

    @media only screen and (max-width: 830px) {

        padding: 5rem 0;

        
    }

}

.section--discoverItem {
    grid-column: 1 / 13;

    padding: 7rem 6rem;

    background-color:  #1f0757;
    display: grid;
    grid-template-columns:  [center-start] repeat(12, [col-start] minmax(min-content, 1fr) [col-end]) [center-end];

    @media only screen and (max-width: 1050px) {

        padding: 5rem 6rem;

        
    }

    @media only screen and (max-width: 980px) {

        padding: 3rem 4rem;

        
    }

    @media only screen and (max-width: 866px) {

        padding: 2rem 2rem;

        
    }

    @media only screen and (max-width: 830px) {

        padding: 5rem 0;

        
    }
}

.section--otherbid {
    grid-column: 1 / 13;

    padding: 5 6rem;

    background-color: rgb(38, 174, 224);
    display: grid;
    grid-template-columns:  [center-start] repeat(12, [col-start] minmax(min-content, 1fr) [col-end]) [center-end];
}

.section--get--started {
    grid-column: 1 / 13;

    padding: 3rem 6rem;

    background-color: black;
    // display: grid;
    // grid-template-columns:  [center-start] repeat(12, [col-start] minmax(min-content, 1fr) [col-end]) [center-end];
}

.section--stay--connected {
    grid-column: 1 / 13;

    padding: 0 6rem;

    background-color: rgb(43, 85, 37);
    display: grid;
    grid-template-columns:  [center-start] repeat(12, [col-start] minmax(min-content, 1fr) [col-end]) [center-end];
}
