


.section--login {
    grid-column: 1 / 13;

    padding: 3rem 6rem;

    background-color: #1f0757;


    // background-color: rgb(78, 38, 224);
    display: grid;
    grid-template-columns:  [center-start] repeat(12, [col-start] minmax(min-content, 1fr) [col-end]) [center-end];
}